<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%} {%- assign
    page_paths = site.header_pages | default: default_paths -%}

    <div class="resume-heading">
      <h3 class="site-title">{{ site.name | escape }}</h3>

      <h3 class="resume--occupation">{{ site.occupation | escape }}</h3>
    </div>
  </div>
</header>
<div class="contacto">
  <div class="wrapper">
    <div class="social-blade">
      <div class="social-icons">
        <a
          target="_blank"
          href="https://linkedin.com/{{ site.linkedin_username }}"
          ><span class="icon icon--linkedin"
            >{% include icon-linkedin.svg %}</span
          ></a
        >
        <a target="_blank" href="https://github.com/{{ site.github_username }}"
          ><span class="icon icon--github"
            >{% include icon-github.svg %}</span
          ></a
        >
      </div>
      <div class="contact-info">
        <a href="mailto:mankoows@myumanitoba.ca">{{ site.email }}</a>
      </div>
    </div>
  </div>
</div>
